
.clear {
    clear: both;
}
.nobr {
    white-space: nowrap;
}
@font-face {
    font-family: "iwp";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/WooCommerce.eot?#iefix") format("embedded-opentype"), url("../fonts/WooCommerce.woff") format("woff"), url("../fonts/WooCommerce.ttf") format("truetype"), url("../fonts/WooCommerce.svg#WooCommerce") format("svg");
}
#adminmenu #menu-posts-wc_booking.menu-icon-post div.wp-menu-image::before {
    content: "";
    font-family: iwp !important;
    font-size: 1.25em !important;
}
table.wp-list-table span.product-type.booking::before {
    content: "";
}
#iwp-product-data ul.wc-tabs li.invoiced_resources_tab a::before {
    content: "" !important;
}
#iwp-product-data ul.wc-tabs li.invoiced_availability_tab a::before {
    content: "" !important;
}
#iwp-product-data ul.wc-tabs li.invoiced_pricing_tab a::before {
    content: "" !important;
}
#iwp-product-data ul.wc-tabs li.invoiced_persons_tab a::before {
    content: "" !important;
}
._wc_booking_first_block_time_field input[type="time"] {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07) inset;
    color: #333;
    width: auto;
}
.type-wc_booking .column-booking_status, th.column-booking_status {
    text-align: center;
    width: 48px;
}
.type-wc_booking .column-booking_status span {
    display: block;
    height: 1em;
    position: relative;
    text-indent: -9999px;
    width: 1em;
}
.type-wc_booking .column-booking_status span::before {
    content: "";
    font-family: iwp;
    font-size: 1.4em;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 1;
    margin: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
}
.type-wc_booking .column-booking_status span.status-incart::before, .type-wc_booking .column-booking_status span.status-unpaid::before {
    content: "";
}
.type-wc_booking .column-booking_status span.status-pending::before {
    color: #ffba00;
    content: "";
}
.type-wc_booking .column-booking_status span.status-confirmed::before {
    color: #7ad03a;
    content: "";
}
.type-wc_booking .column-booking_status span.status-paid::before {
    color: #2ea2cc;
    content: "";
}
.type-wc_booking .column-booking_status span.status-cancelled::before {
    color: #a00;
    content: "";
}
.type-wc_booking .column-booking_status span.status-complete::before {
    color: #999;
    content: "";
}
.column-booking_actions a {
    display: block;
    height: 2em !important;
    margin-right: 4px !important;
    padding: 0 !important;
    position: relative;
    text-indent: -9999px;
    width: 2em;
}
.column-booking_actions a::after {
    content: "";
    font-family: iwp;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 1.85;
    margin: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
}
.column-booking_actions a.confirm::after {
    content: "";
}
.column-booking_actions a.view::after {
    content: "";
}
#iwp-booking-data .handlediv, #iwp-booking-data h3.hndle {
    display: none;
}
#iwp-booking-data .inside {
    display: block !important;
}
#iwp-bookable-resource-data .inside, #iwp-bookable-resource-data .iwp_options_panel {
    margin: 0;
    padding: 0;
}
#iwp-customer-data .inside {
    padding-bottom: 0;
}
#iwp-customer-data .booking-customer-details {
    width: 100%;
}
#iwp-customer-data .booking-customer-details td, #iwp-customer-data .booking-customer-details th {
    text-align: left;
    vertical-align: top;
}
#iwp-customer-data .booking-customer-details th {
    padding: 0 6px 6px 0;
}
#iwp-customer-data .booking-customer-details td {
    padding: 0 0 6px;
}
#iwp-customer-data .booking-customer-details .view td {
    padding-bottom: 12px;
}
#booking_data {
    padding: 23px 24px 12px;
}
#booking_data h2 {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    text-shadow: 1px 1px 1px #fff;
}
#booking_data h4 {
    color: #333;
    margin: 1.33em 0 0;
}
#booking_data p {
    color: #777;
}
#booking_data p.booking_number {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6em;
    margin: 0;
}
#booking_data .booking_data_column_container {
    clear: both;
}
#booking_data .booking_data_column {
    float: left;
    padding: 0 2% 0 0;
    width: 32%;
}
#booking_data .booking_data_column:last-child {
    padding-right: 0;
}
#booking_data .booking_data_column p {
    padding: 0 !important;
}
#booking_data .booking_data_column .form-field {
    float: left;
    margin: 9px 0 0;
    padding: 0;
    width: 48%;
}
#booking_data .booking_data_column .form-field.booking_start_date_field, #booking_data .booking_data_column .form-field.booking_start_time_field, #booking_data .booking_data_column .form-field.product_or_resource_id_field {
    margin-right: 3.8%;
}
#booking_data .booking_data_column .form-field._booking_all_day_field {
    width: 100%;
}
#booking_data .booking_data_column .form-field label {
    display: block;
    padding: 0 0 3px;
}
#booking_data .booking_data_column .form-field input[type="text"], #booking_data .booking_data_column .form-field textarea {
    width: 100%;
}
#booking_data .booking_data_column .form-field input[type="checkbox"] {
    width: auto;
}
#booking_data .booking_data_column .form-field select {
    width: 100%;
}
#booking_data .booking_data_column .form-field #booking_status_chzn .chzn-search {
    display: none;
}
#booking_data .booking_data_column .form-field .chzn-container {
    width: 100% !important;
}
#booking_data .booking_data_column .form-field .date-picker-field {
    width: 9em;
}
#booking_data .booking_data_column .form-field .hour, #booking_data .booking_data_column .form-field .minute {
    width: 2.5em;
}
#booking_data .booking_data_column .form-field small {
    color: #999;
    display: block;
    margin: 5px 0 0;
}
#booking_data .booking_data_column .form-field.form-field-wide input[type="text"] {
    width: auto;
}
#booking_data .booking_data_column .form-field.booking-person {
    float: none;
    width: 100%;
}
#booking_data .booking_data_column .form-field.last {
    float: right;
}
#booking_data .booking_data_column .form-field-wide {
    clear: both;
    width: 100%;
}
#booking_data .booking_data_column .form-field-wide input, #booking_data .booking_data_column .form-field-wide select, #booking_data .booking_data_column .form-field-wide textarea {
    width: 100%;
}
#booking_data .booking_data_column p.none_set {
    color: #999;
}
#booking_data .booking_data_column ._billing_address_1_field, #booking_data .booking_data_column ._billing_city_field, #booking_data .booking_data_column ._billing_country_field, #booking_data .booking_data_column ._billing_email_field, #booking_data .booking_data_column ._billing_first_name_field, #booking_data .booking_data_column ._shipping_address_1_field, #booking_data .booking_data_column ._shipping_city_field, #booking_data .booking_data_column ._shipping_country_field, #booking_data .booking_data_column ._shipping_first_name_field {
    float: left;
}
#booking_data .booking_data_column ._billing_address_2_field, #booking_data .booking_data_column ._billing_last_name_field, #booking_data .booking_data_column ._billing_phone_field, #booking_data .booking_data_column ._billing_postcode_field, #booking_data .booking_data_column ._billing_state_field, #booking_data .booking_data_column ._shipping_address_2_field, #booking_data .booking_data_column ._shipping_last_name_field, #booking_data .booking_data_column ._shipping_postcode_field, #booking_data .booking_data_column ._shipping_state_field {
    float: right;
}
#booking_data .booking_data_column ._billing_company_field, #booking_data .booking_data_column ._shipping_company_field {
    clear: both;
    width: 100%;
}
#booking_data .booking_data_column ._billing_email_field {
    clear: left;
}
#booking_data .booking_data_column div.edit_address {
    display: none;
    overflow: hidden;
    padding-right: 1px;
}
#booking_data #booking_date {
    width: 50%;
}
.wc_invoiced_calendar_form {
    margin: 1em 0 0 !important;
}
.wc_invoiced_calendar_form .calendar_days {
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAA8CAYAAACn8dD6AAAAIElEQVQYGWO4e/fuf4afP3/+Z2IAgsFCfP36lWHQuQoAvaoOvF/jxHkAAAAASUVORK5CYII=");
    background-position: 0 0;
    background-repeat: repeat;
    border: 1px solid #ddd;
    height: 1440px;
    overflow-x: scroll;
    overflow-y: hidden;
    position: relative;
}
.wc_invoiced_calendar_form .calendar_days .hours {
    left: 0;
    margin: -0.5em 0 0;
    position: absolute;
    top: 0;
}
.wc_invoiced_calendar_form .calendar_days .hours li {
    height: 60px;
    margin: 0;
    padding: 0;
    vertical-align: top;
}
.wc_invoiced_calendar_form .calendar_days .hours li label {
    background: none repeat scroll 0 0 #f9f9f9;
    float: left;
    padding: 0 8px;
}
.wc_invoiced_calendar_form .calendar_days .invoiced {
    height: 100%;
    margin: 0 0 0 100px;
    padding: 0;
    position: relative;
    white-space: nowrap;
}
.wc_invoiced_calendar_form .calendar_days .invoiced li {
    background: none repeat scroll 0 0 #000;
    border-radius: 2px;
    color: #fff;
    margin: 0;
    overflow: hidden;
    position: absolute;
    width: 98px;
}
.wc_invoiced_calendar_form .calendar_days .invoiced li a {
    color: #fff;
    display: block;
    height: 100%;
    padding: 2px 4px;
    position: relative;
    text-decoration: none;
    width: 100%;
}
.wc_invoiced_calendar_form .tablenav {
    background: none repeat scroll 0 0 #fff;
    border: 1px solid #dedede;
    box-shadow: 0 1px 1px -1px rgba(0, 0, 0, 0.1);
    height: auto;
}
.wc_invoiced_calendar_form .tablenav::after, .wc_invoiced_calendar_form .tablenav::before {
    content: " ";
    display: table;
}
.wc_invoiced_calendar_form .tablenav::after {
    clear: both;
}
.wc_invoiced_calendar_form .tablenav .filters {
    border-right: 1px solid #ddd;
    float: left;
    line-height: 30px;
    padding: 5px;
}
.wc_invoiced_calendar_form .tablenav .filters .chosen-container {
    width: 12em;
}
.wc_invoiced_calendar_form .tablenav .views {
    border-left: 1px solid #ddd;
    float: right;
    padding: 0;
}
.wc_invoiced_calendar_form .tablenav .views a {
    display: block;
    padding: 11px 20px;
    text-decoration: none;
}
.wc_invoiced_calendar_form .tablenav .views a::before {
    content: "";
    font-family: iwp;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    margin-right: 7px;
    text-transform: none;
}
.wc_invoiced_calendar_form .tablenav .date_selector {
    display: block;
    float: left;
    margin-left: 5px;
}
.wc_invoiced_calendar_form .tablenav .date_selector div {
    float: left;
    padding: 5px 0;
}
.wc_invoiced_calendar_form .tablenav .date_selector div:first-of-type select {
    margin-right: 5px;
}
.wc_invoiced_calendar_form .tablenav .date_selector select {
    vertical-align: middle;
    width: 6em;
}
.wc_invoiced_calendar_form .tablenav .date_selector a {
    display: block;
    font-size: 1.3em;
    height: 1em;
    padding: 0.6em;
    position: relative;
    text-indent: -9999px;
    width: 1em;
}
.wc_invoiced_calendar_form .tablenav .date_selector a::before {
    content: "";
    font-family: iwp;
    font-variant: normal;
    font-weight: 400;
    height: 100%;
    left: 0;
    line-height: 2.5;
    margin: 0;
    position: absolute;
    text-align: center;
    text-indent: 0;
    text-transform: none;
    top: 0;
    width: 100%;
}
.wc_invoiced_calendar_form .tablenav .date_selector a.prev {
    float: left;
}
.wc_invoiced_calendar_form .tablenav .date_selector a.prev::before {
    content: "";
}
.wc_invoiced_calendar_form .tablenav .date_selector a.next {
    float: right;
}
.wc_invoiced_calendar_form .tablenav .date_selector a.next::before {
    content: "";
}
.wc_invoiced_calendar_form .wc_invoiced_calendar {
    margin: 1em 0 0 !important;
    width: 100%;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar th {
    text-align: center;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    color: #bbb;
    font-size: 20px;
    height: 120px;
    padding: 8px 8px 0 0;
    text-align: right;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced {
    font-family: HelveticaNeue-Light,"Helvetica Neue Light","Helvetica Neue",sans-serif;
    height: 100px;
    overflow: auto;
    text-align: left;
    width: 100%;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced ul {
    margin: 0;
    padding: 0;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced ul li {
    list-style: outside none none;
    margin: 0 0 4px;
    padding: 0;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced ul li a {
    border-left: 4px solid #eee;
    display: block;
    padding: 3px 3px 3px 8px;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced ul li a ul {
    margin: 0;
    padding: 0;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced ul li a ul li {
    border: 0 none;
    font-size: 0.75em;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar td .invoiced ul li a:hover {
    background: none repeat scroll 0 0 #fafafa;
    border-left-color: #ccc;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar .calendar-diff-month {
    background: none repeat scroll 0 0 #efefef;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar tbody tr td:last-child {
    border-right: 0 none;
}
.wc_invoiced_calendar_form .wc_invoiced_calendar tbody tr:last-child td {
    border-bottom: 0 none;
}
#invoiced_availability .table_grid, #invoiced_pricing .table_grid, #invoiced_product_data .table_grid {
    padding: 9px 9px 0;
}
#invoiced_availability .options_group_heading, #invoiced_persons .options_group_heading, #invoiced_pricing .options_group_heading, #invoiced_product_data .options_group_heading, #invoiced_resources .options_group_heading, #invoiced_settings .options_group_heading {
    background: none repeat scroll 0 0 #ececec;
    border-bottom: 1px solid #dfdfdf;
    margin: -10px -9px 0.75em;
    padding: 0.5em 12px;
}
#invoiced_availability .edit_resource, #invoiced_persons .edit_resource, #invoiced_pricing .edit_resource, #invoiced_product_data .edit_resource, #invoiced_resources .edit_resource, #invoiced_settings .edit_resource {
    float: right;
    font-weight: 400;
    line-height: 26px;
    margin: 0 1em 0 0;
    padding: 0;
}
#invoiced_availability .table_grid table, #invoiced_persons .table_grid table, #invoiced_pricing .table_grid table, #invoiced_product_data .table_grid table, #invoiced_resources .table_grid table, #invoiced_settings .table_grid table {
    margin-bottom: 9px;
}
#invoiced_availability .table_grid table td.sort, #invoiced_persons .table_grid table td.sort, #invoiced_pricing .table_grid table td.sort, #invoiced_product_data .table_grid table td.sort, #invoiced_resources .table_grid table td.sort, #invoiced_settings .table_grid table td.sort {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAHUlEQVQYV2O8f//+fwY8gJGgAny6QXKETRgEVgAAXxAVsa5Xr3QAAAAASUVORK5CYII=") no-repeat scroll center center rgba(0, 0, 0, 0);
    cursor: move;
    padding: 9px;
    width: 16px !important;
}
#invoiced_availability .table_grid table td.remove, #invoiced_persons .table_grid table td.remove, #invoiced_pricing .table_grid table td.remove, #invoiced_product_data .table_grid table td.remove, #invoiced_resources .table_grid table td.remove, #invoiced_settings .table_grid table td.remove {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAOElEQVQYV2O8f//+fwYgUFRUZATRMAATZ4QxkBUhi4F1IQsgmwIyFW4suiKYlcQpwGsFQUcS8iYAtbQueUkqcX4AAAAASUVORK5CYII=") no-repeat scroll center center rgba(0, 0, 0, 0) !important;
    cursor: pointer;
    width: 16px !important;
}
#invoiced_availability .table_grid table td.remove:hover, #invoiced_persons .table_grid table td.remove:hover, #invoiced_pricing .table_grid table td.remove:hover, #invoiced_product_data .table_grid table td.remove:hover, #invoiced_resources .table_grid table td.remove:hover, #invoiced_settings .table_grid table td.remove:hover {
    background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAJCAYAAAAPU20uAAAAXElEQVQYV2P8DwQMQMAIBCAaBuDiMAayIhSxNery/4NvPEDWDGev1VBgABuLTRFIMuTmQ4S9yMYiWwd3GLoCmCJGZAmQsSCA7Ca4Apid6G5iBDkQJAhyELJXYOIAYDU73N3P8p4AAAAASUVORK5CYII=") no-repeat scroll center center #d73026 !important;
}
#invoiced_availability .table_grid table th.remove, #invoiced_availability .table_grid table th.sort, #invoiced_persons .table_grid table th.remove, #invoiced_persons .table_grid table th.sort, #invoiced_pricing .table_grid table th.remove, #invoiced_pricing .table_grid table th.sort, #invoiced_product_data .table_grid table th.remove, #invoiced_product_data .table_grid table th.sort, #invoiced_resources .table_grid table th.remove, #invoiced_resources .table_grid table th.sort, #invoiced_settings .table_grid table th.remove, #invoiced_settings .table_grid table th.sort {
    width: 16px !important;
}
#invoiced_availability .table_grid table th, #invoiced_persons .table_grid table th, #invoiced_pricing .table_grid table th, #invoiced_product_data .table_grid table th, #invoiced_resources .table_grid table th, #invoiced_settings .table_grid table th {
    padding: 9px;
}
#invoiced_availability .table_grid table td, #invoiced_persons .table_grid table td, #invoiced_pricing .table_grid table td, #invoiced_product_data .table_grid table td, #invoiced_resources .table_grid table td, #invoiced_settings .table_grid table td {
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #dfdfdf;
    border-right: 1px solid #dfdfdf;
    border-top: 0 none;
    padding: 9px;
    position: relative;
    width: auto !important;
}
#invoiced_availability .table_grid table td input, #invoiced_availability .table_grid table td select, #invoiced_persons .table_grid table td input, #invoiced_persons .table_grid table td select, #invoiced_pricing .table_grid table td input, #invoiced_pricing .table_grid table td select, #invoiced_product_data .table_grid table td input, #invoiced_product_data .table_grid table td select, #invoiced_resources .table_grid table td input, #invoiced_resources .table_grid table td select, #invoiced_settings .table_grid table td input, #invoiced_settings .table_grid table td select {
    font-size: 14px;
    line-height: 14px;
}
#invoiced_availability .table_grid table td input, #invoiced_availability .table_grid table td span.text, #invoiced_persons .table_grid table td input, #invoiced_persons .table_grid table td span.text, #invoiced_pricing .table_grid table td input, #invoiced_pricing .table_grid table td span.text, #invoiced_product_data .table_grid table td input, #invoiced_product_data .table_grid table td span.text, #invoiced_resources .table_grid table td input, #invoiced_resources .table_grid table td span.text, #invoiced_settings .table_grid table td input, #invoiced_settings .table_grid table td span.text {
    background: none repeat scroll 0 0 transparent;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
    float: none;
    margin: 0;
    outline: 0 none !important;
    padding: 6px 7px;
    width: 100%;
}
#invoiced_availability .table_grid table td.checkbox, #invoiced_persons .table_grid table td.checkbox, #invoiced_pricing .table_grid table td.checkbox, #invoiced_product_data .table_grid table td.checkbox, #invoiced_resources .table_grid table td.checkbox, #invoiced_settings .table_grid table td.checkbox {
    text-align: center;
    vertical-align: middle;
}
#invoiced_availability .table_grid table td.checkbox input, #invoiced_persons .table_grid table td.checkbox input, #invoiced_pricing .table_grid table td.checkbox input, #invoiced_product_data .table_grid table td.checkbox input, #invoiced_resources .table_grid table td.checkbox input, #invoiced_settings .table_grid table td.checkbox input {
    display: inline;
    float: none;
    width: auto;
}
#invoiced_availability .table_grid table td .from_date, #invoiced_availability .table_grid table td .to_date, #invoiced_persons .table_grid table td .from_date, #invoiced_persons .table_grid table td .to_date, #invoiced_pricing .table_grid table td .from_date, #invoiced_pricing .table_grid table td .to_date, #invoiced_product_data .table_grid table td .from_date, #invoiced_product_data .table_grid table td .to_date, #invoiced_resources .table_grid table td .from_date, #invoiced_resources .table_grid table td .to_date, #invoiced_settings .table_grid table td .from_date, #invoiced_settings .table_grid table td .to_date {
    position: relative;
}
#invoiced_availability .table_grid table td input.short, #invoiced_persons .table_grid table td input.short, #invoiced_pricing .table_grid table td input.short, #invoiced_product_data .table_grid table td input.short, #invoiced_resources .table_grid table td input.short, #invoiced_settings .table_grid table td input.short {
    box-sizing: content-box;
    text-align: center;
    width: 1em;
}
#invoiced_availability .table_grid table td .ui-datepicker-trigger, #invoiced_persons .table_grid table td .ui-datepicker-trigger, #invoiced_pricing .table_grid table td .ui-datepicker-trigger, #invoiced_product_data .table_grid table td .ui-datepicker-trigger, #invoiced_resources .table_grid table td .ui-datepicker-trigger, #invoiced_settings .table_grid table td .ui-datepicker-trigger {
    margin: -8px 9px 0 0;
    position: absolute;
    right: 0;
    top: 50%;
}
#invoiced_availability .table_grid table td select, #invoiced_persons .table_grid table td select, #invoiced_pricing .table_grid table td select, #invoiced_product_data .table_grid table td select, #invoiced_resources .table_grid table td select, #invoiced_settings .table_grid table td select {
    margin: 0;
    padding: 4px 7px;
    width: 100%;
}
#invoiced_availability .table_grid table td .select, #invoiced_persons .table_grid table td .select, #invoiced_pricing .table_grid table td .select, #invoiced_product_data .table_grid table td .select, #invoiced_resources .table_grid table td .select, #invoiced_settings .table_grid table td .select {
    min-width: 50px;
    overflow: hidden;
    padding: 2px;
}
#invoiced_availability .table_grid table td:last-child, #invoiced_persons .table_grid table td:last-child, #invoiced_pricing .table_grid table td:last-child, #invoiced_product_data .table_grid table td:last-child, #invoiced_resources .table_grid table td:last-child, #invoiced_settings .table_grid table td:last-child {
    border-right: 0 none;
}
#invoiced_availability .table_grid table tr.current td, #invoiced_persons .table_grid table tr.current td, #invoiced_pricing .table_grid table tr.current td, #invoiced_product_data .table_grid table tr.current td, #invoiced_resources .table_grid table tr.current td, #invoiced_settings .table_grid table tr.current td {
    background: none repeat scroll 0 0 #fefbcc;
}
#invoiced_availability .table_grid table .button-primary, #invoiced_persons .table_grid table .button-primary, #invoiced_pricing .table_grid table .button-primary, #invoiced_product_data .table_grid table .button-primary, #invoiced_resources .table_grid table .button-primary, #invoiced_settings .table_grid table .button-primary {
    float: right;
}
#invoiced_availability .table_grid table tfoot td, #invoiced_availability .table_grid table tfoot th, #invoiced_persons .table_grid table tfoot td, #invoiced_persons .table_grid table tfoot th, #invoiced_pricing .table_grid table tfoot td, #invoiced_pricing .table_grid table tfoot th, #invoiced_product_data .table_grid table tfoot td, #invoiced_product_data .table_grid table tfoot th, #invoiced_resources .table_grid table tfoot td, #invoiced_resources .table_grid table tfoot th, #invoiced_settings .table_grid table tfoot td, #invoiced_settings .table_grid table tfoot th {
    line-height: 26px;
    padding: 9px;
    vertical-align: middle;
}
#invoiced_availability .toolbar, #invoiced_persons .toolbar, #invoiced_pricing .toolbar, #invoiced_product_data .toolbar, #invoiced_resources .toolbar, #invoiced_settings .toolbar {
    overflow: hidden;
}
#invoiced_availability .toolbar .add_resource, #invoiced_availability .toolbar .add_resource_id, #invoiced_persons .toolbar .add_resource, #invoiced_persons .toolbar .add_resource_id, #invoiced_pricing .toolbar .add_resource, #invoiced_pricing .toolbar .add_resource_id, #invoiced_product_data .toolbar .add_resource, #invoiced_product_data .toolbar .add_resource_id, #invoiced_resources .toolbar .add_resource, #invoiced_resources .toolbar .add_resource_id, #invoiced_settings .toolbar .add_resource, #invoiced_settings .toolbar .add_resource_id {
    float: right;
    margin-left: 10px;
}
#invoiced_availability .toolbar h3, #invoiced_persons .toolbar h3, #invoiced_pricing .toolbar h3, #invoiced_product_data .toolbar h3, #invoiced_resources .toolbar h3, #invoiced_settings .toolbar h3 {
    border: 0 none;
    float: left;
    padding: 0;
}
#invoiced_availability .iwp_booking_person label, #invoiced_availability .iwp_booking_resource label, #invoiced_persons .iwp_booking_person label, #invoiced_persons .iwp_booking_resource label, #invoiced_pricing .iwp_booking_person label, #invoiced_pricing .iwp_booking_resource label, #invoiced_product_data .iwp_booking_person label, #invoiced_product_data .iwp_booking_resource label, #invoiced_resources .iwp_booking_person label, #invoiced_resources .iwp_booking_resource label, #invoiced_settings .iwp_booking_person label, #invoiced_settings .iwp_booking_resource label {
    float: none;
    margin: 0;
    width: auto;
}
#invoiced_settings .hndle {
    cursor: default;
}


 .iwp_crm_link {
    margin-bottom: 7px;
    margin-left: 93px;
 }

 .wp_invoice_new_user ul.iwp_user_selection {

 }

 select.iwp_user_email_selection option {
  max-width: 275px;
 }

 #postbox_user_existing .inside {
  margin:0;
  padding:0;
 }

 #postbox_user_existing .inside table {
  width: 95%;
 }

 #postbox_user_existing .iwp_user_email_selection_wrapper{
  background: #EDEDED;
  padding: 10px 0 10px 10px;
 }

 .iwp_invoice_paid {
  background: none repeat scroll 0 0 #333A33;
  color: #FCFCFC;
  font-size: 1.5em;
  margin: 10px 0;
  padding: 8px 11px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
 }
 .iwp_invoice_status_paid {

 }

 .iwp_invoice_status_paid #invoice_list .row_delete,
 .iwp_invoice_status_paid #postbox_publish,
 .iwp_invoice_status_paid #postbox_payment_methods,
 .iwp_invoice_status_paid .itemized_list  .footer {

 }

 .iwp_invoice_status_paid #invoice_list .input_field,
 .iwp_invoice_status_paid #postbox_user_existing .input_field  {

 }

 .input_total {
    text-align: right;
    margin-top: -3px !important;
    float: right !important;
    width: 85% !important;

 }

 .hidden_total{
    display: none !important;
 }


#post-body {
  margin-bottom: 80px;
}
#titlediv {
  margin-bottom: 5px;
}

.iwp_toggle_advanced_payment_options span {

}
tr.iwp_advanced_payment_options  {
  display:none;
}

.wp_invoice_accordion {

}
#iwp_invoice_form .wp_invoice_accordion.ui-accordion .ui-accordion-content {
    background: none repeat scroll 0 0 #EFEFEF;
    border-left: 1px solid #D5D5D5;
    border-right: 1px solid #D5D5D5;
    box-shadow: 0 0 4px #E3E3E3 inset;
    padding: 0 27px 5px 7px;
}

#iwp_invoice_form .wp_invoice_accordion.ui-accordion .ui-accordion-content .input_field {
    background: none repeat scroll 0 0 #F4F4F4;
    border: 1px solid #E1E1E1;
}


#iwp_invoice_form .wp_invoice_accordion h3 {
  background: #E6E6E6;
}

#iwp_invoice_form .wp_invoice_accordion th span,
#iwp_invoice_form .wp_invoice_accordion .wp_invoice_tooltip {
  color: #6C6C6C;
}

/** Comments box (Quotes) **/
#iwp_comments_box .inside {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 400px;
}

.currencySymbol {
    float: left; 
    margin-right: 10px;
}

.percentSymbol {
    float:right;
    margin-left: 10px;
}

.iwp_flatten_input {
    text-align: right;
}

.iwp_invoiceBalance {
    width: 100%;
    font-weight: bold;
    margin: 10px 0;
    font-size: 1.1em;
}
